doctype html
html(lang='ja')
  head
    title すぎけん.com
    meta(content="aaaaa")
    script(src="js/application.js")
    link(rel="stylesheet" href="./css/application.css")
  body
    block content
    block footer
      #footer
        p some footer content
